.Rproj.user
.Rhistory
.RData
.Ruserdata

papers/
Consignes_etudiants_projet_EFT_2024-2025.pdf



*.docx
*.xcf

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Package file
.Rbuildignore

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/cache/
/figure/
/*_files/
/*_cache/
/libs/


